*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.section-title p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 60px;
  font-style: "Roboto", sans-serif;
  text-align: center;
}

.section-title h2 {
  font-size: 36px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

section {
  padding: 108px 0;
}

/* Splash */
.splash {
  min-height: 80vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/10/37/light-bulb-1246043_960_720.jpg");
  background-position: center center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.splash .container {
  margin-top: 20px;
}

.splash .banner {
  color: #f8c291;
  font-family: "Montserrat", sans-serif;
  text-shadow: 3px 2px 2px #b71540;
  font-family: "Pacifico", cursive;
}

.splash .menu-list {
  color: #fff;
  text-align: right;
}

.splash .menu-list ul {
  list-style-type: none;
}

.splash .menu-list ul li {
  display: inline-block;
  margin-right: 36px;
}

.splash-inner {
  margin: auto;
  width: 100%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-title {
  margin: 0;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.page-subtitle {
  font-size: 36px;
  margin: auto;
  color: #fff;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 48px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.header-button {
  color: #fff;
  background-color: #f8c291;
}

/* Services */
.services-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.service-box {
  -ms-flex: 33.333%;
      flex: 33.333%;
  position: relative;
  text-align: center;
  padding: 10px;
}

.service-box h3 {
  font-weight: bold;
}

.service-box i {
  font-size: 30px;
  padding: 15px 10px;
  background: #fff;
  width: 60px;
  height: 60px;
  color: #f8c291;
  border-radius: 50%;
  border: 2px solid;
}

/* Footer */
footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

footer p {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
}

footer ul {
  margin: 0;
  list-style-type: none;
  padding-left: 60px;
}

footer ul li {
  display: inline-block;
  margin: 5px;
  font-size: 0;
  text-align: center;
}

footer ul i {
  font-size: 20px;
  padding: 10px 0;
  background: #000;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
}

/* Gallery */
.portfolio {
  background-color: #f2f2f2;
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery .gallery-box {
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
  min-height: 330px;
  margin-bottom: 96px;
  -ms-flex-direction: column;
      flex-direction: column;
}

.gallery .gallery-box .gallery-image {
  min-width: 330px;
  height: 100%;
  padding: 0 0 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.gallery .gallery-box .gallery-image img {
  width: 250px;
  height: 100%;
  object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gallery .gallery-box .gallery-image .gallery-description {
  padding-left: 20px;
  text-align: center;
}

.gallery .gallery-box .gallery-image .gallery-description h2 {
  margin: 0;
}

.gallery .gallery-box .gallery-image .gallery-description p {
  margin: 0;
}

@media (max-width: 767px) {
  .services-list {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .page-title .page-subtitle {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */