
$font-text: 'Roboto', sans-serif;
$font-header: 'Montserrat', sans-serif;
$font-special: 'Pacifico', cursive;

$color-bright: #fff;
$color-dark: #000;
$color-one: #0c2461;
$color-two: #f8c291;
$color-three: #b71540;

$font-color-dark: #3d3d3d;
$font-color-bright: $color-bright;
$font-standard-size: 16px;

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    background: $color-bright;
    color: $font-color-dark;
    font-size: $font-standard-size;
    line-height: 1.7;
    font-family: $font-text;
    margin: 0;
}    

.section-title {
    p {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 60px;
        font-style: $font-text;
        text-align: center;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 0;
        font-family: $font-header;
        text-align: center;
    }
}

section {
    padding: 108px 0;
}

/* Splash */

.splash {
    height: 80vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/03/09/10/37/light-bulb-1246043_960_720.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    position: relative;

    .container {
        margin-top: 30px;
        position: absolute;
        display: flex;
        max-width: 100%;
        justify-content: space-around;
    }

    .banner {
        display: inline;
        color: $color-two;
        font-family: $font-header;
        text-shadow: 3px 2px 2px $color-three;
        font-family: $font-special;
        
    }
        

    .menu-list {
        color: $color-bright;
        ul {
            list-style-type: none;
        
            li {
                display: inline-block;
                margin-right: 36px;
            }
        }

    }
}



.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
    margin: 0;
    font-size: 72px;
    line-height: 1.2;
    font-family: $font-header;
    font-weight: 700;
    color: $color-bright;
    text-transform: capitalize
}

.page-subtitle {
    font-size: 36px;
    margin: auto;
    text-align: center;
    color: $color-bright;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 48px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: $font-standard-size;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.header-button {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 
    color: $font-color-bright;
    background-color: $color-two;
}

/* Services */

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-box {
    flex: 0 0 33.333%;
    position: relative;
    text-align: center;
    padding: 10px;
    
    h3 {
        font-weight: bold;
    }

    i {
        font-size: 30px;
        padding: 15px 10px;
        background: $color-bright;
        width: 60px;
        height: 60px;
        color: $color-two;
        border-radius: 50%;
        border: 2px solid;
        
    }
}